
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>后台管理页面</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/dashboard.css" rel="stylesheet">
    <style type="text/css">
       html,body{
        overflow-x: hidden;
       }
    </style>
  </head>

  <body>

    <% include header.ejs%>

    <div class="container-fluid">
      <div class="row">
         <% include nav.ejs%>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">添加商品</h1>

          <div class="row placeholders">
           
              <div class="row">
                <form class="form-horizontal" role="form"  method="POST"  enctype='multipart/form-data' >
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            商品介绍：
                        </label>
                        <div class="col-md-5">
                            <textarea class="form-control" rows="4" placeholder="请输入简要介绍……" id="gName" name="gName"></textarea>
                        </div>
                    </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label">
                              商品价格：
                          </label>
                          <div class="col-md-5">
                              <input type="text" class="form-control" placeholder="请输入价格……"  id="gPrice" name="gPrice">
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-2 control-label">
                            商品属性：
                        </label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="多个属性用#分隔输入"  id="gAttr" name="gPrice">
                        </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label">
                              商品数量：
                          </label>
                          <div class="col-md-5">
                              <input type="text" class="form-control" placeholder="请输入商品总数……"  id="gSum" name="gSum" required autofocus="">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-md-2 control-label">
                              商品类别：
                          </label>
                          <div class="col-md-4">
                              <select id="scName" class="selectpicker show-tick form-control" >
                                  <% for(var i=0;i<subCategory.length;i++){%>
                                   <option  value="<%= subCategory[i].scId%>"><%= subCategory[i].scName%></option>
                                  <% }%>
                              </select>
                          </div>
                      </div>
                     
                      <div class="form-group">
                          <label class="col-md-2 control-label">
                            商品图片:
                          </label>
                          <div class="col-md-5">
                              <input type="file" class="form-control"   id="gPic" name="gPic">
                          </div>
                      </div>
                      
                      <div class="form-group">
                          <div class="col-md-offset-2 col-md-5">
                              <input class="btn btn-primary" type="button"  id="addGoods" value="添加">
                              <input class="btn btn-default" type="reset">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/ajaxfileupload.js"></script>
    <script>
      $(function(){

     $("#addGoods").click(function(){
        $.ajaxFileUpload({
                url:"/admin/addGoods",   //用于文件上传的服务器端请求地址
                type:'POST',
                secureuri:false,//一般设置为false
                data:{
                   gName:$('#gName').val(),
                   gPrice:$('#gPrice').val(),
                   gSum:$('#gSum').val(),
                   gAttr:$('#gAttr').val(),
                   scId:$('#scName').val()
                },
                fileElementId:'gPic',//文件上传控件的id属性 
                 dataType: 'JSON', //返回值类型 一般设置为json
                success: function (data)  //服务器成功响应处理函数
                {
                     alert(data)

                },
                error: function (data, status, e)//服务器响应失败处理函数
                {     
                    alert(e);
                }
            });
        return false;
     })      
  })

      $(function(){
            $("ul#nav li").eq(4).attr('class','active');
       })
    </script>
  </body>
</html>
