<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" id="nav">
    <li><a href="/admin/addType">添加一级类别 </a></li>
    <li><a href="/admin/seeAllType">管理一级类别</a></li>
    <li><a href="/admin/addSubType">添加二级类别</a></li>
    <li><a href="/admin/seeAllSubType">管理二级类别</a></li>
    <li><a href="/admin/addGoods">添加商品</a></li>
    <li><a href="/admin/seeAllGoods">管理全部商品</a></li>
    <li><a href="/admin/order">订单管理</a></li>
    <li><a href="/admin/shopCheck">账户审核</a></li>
    <li><a href="/admin/ads">广告位设置</a></li>
    <li><a href="/admin/message">消息发送</a></li>
    <li><a href="/admin/seeAllMessage">已发送的消息</a></li>
    <li><a href="/admin/changePass">修改密码</a></li>
  </ul>      
</div>